h1{font-size: 3,5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto",sans-serif;
    margin: 0;
}

*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    z-index: 100;
}
i.fab.fa-whatsapp {
    margin-top: 8px;
    margin-left: 3px;
}

.menu{
    position: fixed;
    background: #fff;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    z-index: 1000;
}

.logo{
    color: black;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}

.menu-items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu-items li{
    border-radius: 3px;
    margin: 0 5px;

}

.menu-items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    color: #000;
}

.menu-items li:hover, li.active{
    background-color: #ff9800;
    transition: .4s;
}

.btn-menu{
    margin-right: 30px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 65px;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background:linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url("/imagenes/mesa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 0px;
}

#hero h1{
    color: white;
    font-size: 3em;
    margin: 0px;
}
#hero h2{
    font-size: 2em;
    margin: 10px;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.timeline{
    padding-top: 0px;
    font: normal 16px/1.5 "Roboto", sans-serif;
    background-color: #ff7700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-size: cover;
    color: #3c3f64;
    overflow-x: hidden;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#como{
	background:linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6) 
      ),
      url();
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
}


#comoh1{
    padding-top: 20px;
    text-align: center;
    font-size: 80px;
    margin: 20px;
    color:#fff;
	line-height: 80px;
}

.timeline ul li{
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #022436;
}

.timeline ul li::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #022436;
}

.timeline ul li div{
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 20px;
    background: #fff;
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0,2);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.timeline ul li div time{
    color: #000;
    position: absolute;
    background: #ff9800;
    width: 80px;
    height: 30px;
    top: -15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.timeline ul li div div{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline ul li div div p{
    text-align: center;
}

.timeline ul li div .discovery{
    margin-right: 10px;
}

.timeline ul li:nth-of-type(odd) > div{
    left: 45px;
}

.timeline ul li:nth-of-type(even) > div{
    left: -439px;
}

.timeline ul li div{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div{
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li:nth-of-type(even) div{
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li.in-view div{
    transform: none;
    visibility: visible;
    opacity: 1;
	text-align: center;
}



#planes{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: grey;
    min-height: 100vh;
    align-items: center;
    padding: 40px 0 60px 0;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url("/imagenes/segunda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#planes h1 {
    text-align: center;
    font-size: 80px;
    margin: 20px;
    color:#FFF;
    
}

#planes ul{
    margin: 0;
    padding: 0;
}

.precios-tabla{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
    padding-top: 25px;
    padding-bottom: 40px;
}

.precios-carta{
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: 3.s linear;
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
sup{line-height: 20px;}

.precios-carta-header{
    background-color: #ff9800;
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 12px 20px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
	
}

.precios-carta:hover .precios-carta-header{
    box-shadow: 0 0 0 26em #ff9800;
}


.price{
    font-size: 70px;
    color: #ff9800;
    margin: 40px 0;
    transition: .5s linear;
}

.price sup, .price span{
    font-size: 22px;
    font-weight: 700;
}

.precios-carta:hover,.precios-carta:hover .price{
    color: #fff;
}

.precios-carta li{
    font-size: 15px;
    padding: 10px 0;
}

.order-btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 110px;
    border: 3px solid #ff9800;
    color: #ff9800;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
    text-decoration: none;
}

.order-btn:hover{
    background-color: #ff9800;
    color: #fff;
}

#contacto{
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    background-color: #000022;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    text-align: end;
}
.contei{
    width: 80%;
    padding: 2% 10%;
    margin: 0 auto;
}

.contact {
    margin: 4vh 0px;
    padding: 2vh 0px;
}

.contact h1{
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
}

.contact form{
    width: 100%;
}

.contact input{
    width: 46%;
    margin: 20px 1%;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    color: #fff;
}

.contact form textarea{
    width: 96%;
    margin: 20px 1%;
    padding: 8px 10px;
    border: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 18px;
    background: transparent;
    resize: 0.4s ease-in-out;
    color: #fff;
}

.contact form input:focus{
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.contact form textarea:focus{
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.contact form textarea:focus{
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.icons{
    margin: 6vh 0px;
}

.btn{
    color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    border: 2px solid #fff;
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    transition: 0.4s ease-in-out;
    margin: 30px 10px;
}

.btn:hover{
    background: #fff;
    cursor: pointer;
    color: #000;
}

.btn-social{
    font-size: 18px;
    color: #fff;
    margin: 40px 20px;
    padding: 15px 18px;
    border-radius: 50%;
    background: #000;
    transition: 0.4s ease-in-out;
}

.btn-social:hover{
    color: #000;
    background-color: #fff;
}

#footer{
    text-align: center;
	height: 75px;
	
}
.footexto{ margin-top: 3%;}

#mensaje{
    font-family: "Roboto",sans-serif;
}

.cotizadorbody {
    background: #e96443;
    background: -webkit-linear-gradient(to right, #904e95, #e96443);
    background: linear-gradient(to right, #904e95, #e96443);
    
}

.formcotizador{
    background-color: #fff;
    width: 60%; margin: 0 auto;padding: 60px 20px;border-radius: 20px;
    position: absolute;
    margin-left: 20%;
    display: inline-block;
}
.divcotizador{
    width: 50%;float: left;height: 100px;
}
.formcotizador h3 {
    font-size: 1.2em;
    margin: 10px;
}
.btncotizador{
display: inline-block;
    margin: 20px 5px;
    border: 3px solid #ff9800;
    color: #ff9800;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
    text-decoration: none;
    width: 50%;
}
.btncotizador:hover{
    background-color: #ff9800;
    color: #fff;
}
.inputcotizador{
    padding: 0.75rem;
    box-sizing: border-box;
    border-style: solid;
    border-color: #000;
    border-radius: 7px;
    width: 100%;
}
.selectcotizador{
    padding: 0.75rem;
    border: 2px solid #000;
    border-radius: 7px;
    width: 100%;
}
.cotih1{
    padding-top: 20px;
    text-align: center;
    font-size: 80px;
    margin: 20px;
    color:#fff;
	line-height: 80px;
}

@media screen and (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu-items li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 858px){
    .menu{
        height:  65px;
    }
    .btn-menu{
        display: inline;
    }
    .menu-items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #ff9800;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu-items li{
        margin: 10px 0 0 0;
        line-height: 30px;
    }
    .menu-items li:hover{
        background: none;
    }
    .menu-items li a{
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }
    .menu-items li a:hover{
        color: #fff;
    }
    .logo{
        font-size: 25px;
        padding-left: 15px;
    }
    .divcotizador{
        width: 100%;float: left;height: 60px;
    }
    .btncotizador{
        display: inline-block;
            margin: 20px 5px;
            border: 3px solid #ff9800;
            color: #ff9800;
            padding: 18px 40px;
            border-radius: 8px;
            text-transform: uppercase;
            font-weight: 500;
            transition: .3s linear;
            text-decoration: none;
            width: 100%;
}
.formcotizador h3 {
    font-size: 1em;
    margin: 10px;
}
.cotih1{
    
    font-size: 60px;
   
}
}
@media screen and (max-width: 858px) and (orientation: landscape){
    .menu-items li{
        margin: 5px 0 0 0;
    }
    .menu-items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}

@media screen and (max-width: 900px){
  
    .timeline ul li div{
        width: 25px;
        flex-direction: column;
    }
    .timeline ul li div div{
        width: 80%;
        margin: 10px;
    }
    .timeline ul li:nth-of-type(even) > div{
        left: -289px;
    }
	
	 .contact form in input{
        width: 92%;
    }
    .contact form textarea{
        width: 92%;
    }
    .btn{
        font-size: 14px;
        padding: 8px 20px;
    }
    .btn-social{
        font-size: 14px;
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 1100px){
    .precios-carta{
        flex: 50%; 
    }
}

@media screen and (max-width: 600px){
    body{
        background: #fff;
    }
    .timeline ul li{
        margin-left: 20px;

    }
    .timeline ul li div{
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-of-type(even) > div{
        left: 45px;
    }
	.contei {
    width: 100%;
    padding: 4% 4%;
}
}

@media (min-width:720px){
	section {
    width: 100%;
}
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

	}