h1{font-size: 3,5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto",sans-serif;
    margin: 0;
}

*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


.menu{
    position: fixed;
    background: #fff;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    z-index: 1000;
}

.logo{
    color: black;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}

.menu-items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu-items li{
    border-radius: 3px;
    margin: 0 5px;

}

.menu-items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    color: #000;
}

.menu-items li:hover, li.active{
    background-color: #ff9800;
    transition: .4s;
}

.btn-menu{
    margin-right: 30px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 65px;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
      ),
      url("/Image/mesa.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
}

#hero h1{
    color: white;
    font-size: 3em;
    margin: 0px;
}
#hero h2{
    font-size: 2em;
    margin: 10px;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.timeline{
    font: normal 16px/1.5 "Titillium web", sans-serif;
    background: #414141;
    color: #3c3f64;
    overflow-x: hidden;
    padding-bottom: 50px;
}

#comoh1{
    text-align: center;
    font-size: 80px;
    margin: 20px;
    color:#fff;
}

.timeline ul li{
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #022436;
}

.timeline ul li::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #022436;
}

.timeline ul li div{
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 20px;
    background: #fff;
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0,2);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.timeline ul li div time{
    color: #000;
    position: absolute;
    background: #ff9800;
    width: 80px;
    height: 30px;
    top: -15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.timeline ul li div div{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline ul li div div p{
    text-align: center;
}

.timeline ul li div .discovery{
    margin-right: 10px;
}

.timeline ul li:nth-of-type(odd) > div{
    left: 45px;
}

.timeline ul li:nth-of-type(even) > div{
    left: -439px;
}

.timeline ul li div{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div{
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li:nth-of-type(even) div{
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li.in-view div{
    transform: none;
    visibility: visible;
    opacity: 1;
}



#planes{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: grey;
    min-height: 100vh;
    align-items: center;
    padding: 40px 0 60px 0;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(/Image/segunda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#planes h1 {
    text-align: center;
    font-size: 80px;
    margin: 20px;
    color:#FFF;
    
}

#planes ul{
    margin: 0;
    padding: 0;
}

.precios-tabla{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
    padding-top: 25px;
    padding-bottom: 40px;
}

.precios-carta{
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: 3.s linear;
    border-radius: 30px;
}
sup{line-height: 20px;}

.precios-carta-header{
    background-color: #ff9800;
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 12px 20px;
    border-radius: 0 0 20px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.precios-carta:hover .precios-carta-header{
    box-shadow: 0 0 0 26em #ff9800;
   
}


.price{
    font-size: 70px;
    color: #ff9800;
    margin: 40px 0;
    transition: .5s linear;
}

.price sup, .price span{
    font-size: 22px;
    font-weight: 700;
}

.precios-carta:hover,.precios-carta:hover .price{
    color: #fff;
}

.precios-carta li{
    font-size: 15px;
    padding: 10px 0;
}

.order-btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 110px;
    border: 3px solid #ff9800;
    color: #ff9800;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
    text-decoration: none;
}

.order-btn:hover{
    background-color: #ff9800;
    color: #fff;
}


#contacto{
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;
    background: #022436;
    text-align: end;
}
.contei{
    width: 80%;
    padding: 4% 10%;
    margin: 0 auto;
}

.contact {
    margin: 4vh 0px;
    padding: 2vh 0px;
}

.contact h1{
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
}

.contact form{
    width: 100%;
}

.contact input{
    width: 46%;
    margin: 20px 1%;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    color: #fff;
}

.contact form textarea{
    width: 96%;
    margin: 20px 1%;
    padding: 8px 10px;
    border: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    font-size: 18px;
    background: transparent;
    resize: 0.4s ease-in-out;
    color: #fff;
}

.contact form input:focus{
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.contact form textarea:focus{
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.contact form textarea:focus{
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.icons{
    margin: 6vh 0px;
}

.btn{
    color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    border: 2px solid #fff;
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    transition: 0.4s ease-in-out;
    margin: 30px 10px;
}

.btn:hover{
    background: #fff;
    cursor: pointer;
    color: #000;
}

.btn-social{
    font-size: 18px;
    color: #fff;
    margin: 40px 20px;
    padding: 15px 18px;
    border-radius: 50%;
    background: #000;
    transition: 0.4s ease-in-out;
}

.btn-social:hover{
    color: #000;
    background-color: #fff;
}

#footer{
    text-align: center;
}

#mensaje{
    font-family: "Roboto",sans-serif;
}


@media screen and (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu-items li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 858px){
    .menu{
        height:  65px;
    }
    .btn-menu{
        display: inline;
    }
    .menu-items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu-items li{
        margin: 10px 0 0 0;
        line-height: 30px;
    }
    .menu-items li:hover{
        background: none;
    }
    .menu-items li a{
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }
    .menu-items li a:hover{
        color: #ff9800;
    }
    .logo{
        font-size: 25px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 858px) and (orientation: landscape){
    .menu-items li{
        margin: 5px 0 0 0;
    }
    .menu-items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}



@media (max-witdth:900px){
    .contact form in input{
        width: 92%;
    }
    .contact form textarea{
        width: 92%;
    }
    .btn{
        font-size: 14px;
        padding: 8px 20px;
    }
    .btn-social{
        font-size: 14px;
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 1100px){
    .precios-carta{
        flex: 50%; 
    }
}

@media screen and (max-width: 900px){
    .timeline h1{
        line-height: 
    }
    .timeline ul li div{
        width: 25px;
        flex-direction: column;
    }
    .timeline ul li div div{
        width: 80%;
        margin: 10px;
    }
    .timeline ul li:nth-of-type(even) > div{
        left: -289px;
    }
}

@media screen and (max-width: 600px){
    body{
        background: #8bfff4;
    }
    .timeline ul li{
        margin-left: 20px;

    }
    .timeline ul li div{
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-of-type(even) > div{
        left: 45px;
    }
}


@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
}